#s-04a21311-ca1c-42f0-8b3c-3f2ccb6c88be #s-Label_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04a21311-ca1c-42f0-8b3c-3f2ccb6c88be #s-Label_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04a21311-ca1c-42f0-8b3c-3f2ccb6c88be #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04a21311-ca1c-42f0-8b3c-3f2ccb6c88be #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04a21311-ca1c-42f0-8b3c-3f2ccb6c88be #s-Label_28 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04a21311-ca1c-42f0-8b3c-3f2ccb6c88be #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04a21311-ca1c-42f0-8b3c-3f2ccb6c88be #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04a21311-ca1c-42f0-8b3c-3f2ccb6c88be #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04a21311-ca1c-42f0-8b3c-3f2ccb6c88be #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04a21311-ca1c-42f0-8b3c-3f2ccb6c88be #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04a21311-ca1c-42f0-8b3c-3f2ccb6c88be #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04a21311-ca1c-42f0-8b3c-3f2ccb6c88be #s-Triangle_1 {
  rotation: 90.0;
  margin-left: 2px;
  margin-top: -3px;
}
#s-04a21311-ca1c-42f0-8b3c-3f2ccb6c88be #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04a21311-ca1c-42f0-8b3c-3f2ccb6c88be #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04a21311-ca1c-42f0-8b3c-3f2ccb6c88be #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04a21311-ca1c-42f0-8b3c-3f2ccb6c88be #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04a21311-ca1c-42f0-8b3c-3f2ccb6c88be #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04a21311-ca1c-42f0-8b3c-3f2ccb6c88be #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04a21311-ca1c-42f0-8b3c-3f2ccb6c88be #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04a21311-ca1c-42f0-8b3c-3f2ccb6c88be #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04a21311-ca1c-42f0-8b3c-3f2ccb6c88be #s-Callout_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-04a21311-ca1c-42f0-8b3c-3f2ccb6c88be #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow: hidden;
}
#s-04a21311-ca1c-42f0-8b3c-3f2ccb6c88be > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}