#s-0d2f2f76-59db-417f-a08f-8902d247f23c {
  background-color: transparent;
  background-image: none;
  min-width: 642px;
  min-height: 489px;
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Image_1 {
  position: absolute;
  top: 0px;
  left: -10px;
  width: 652px;
  height: 489px;
  opacity: 0.33;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Line_1 {
  position: absolute;
  top: 160px;
  left: 54px;
  width: 200px;
  height: 6px;
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(322deg);
  -moz-transform: rotate(322deg);
  transform: rotate(322deg);
  box-shadow: none;
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Line_2 {
  position: absolute;
  top: 208px;
  left: 154px;
  width: 200px;
  height: 6px;
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  transform: rotate(80deg);
  box-shadow: none;
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Line_3 {
  position: absolute;
  top: 198px;
  left: 238px;
  width: 200px;
  height: 6px;
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: none;
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Line_4 {
  position: absolute;
  top: 174px;
  left: 366px;
  width: 200px;
  height: 6px;
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(288deg);
  -moz-transform: rotate(288deg);
  transform: rotate(288deg);
  box-shadow: none;
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Image_2 {
  position: absolute;
  top: 40px;
  left: 432px;
  width: 121px;
  height: 121px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Image_3 {
  position: absolute;
  top: 188px;
  left: 324px;
  width: 223px;
  height: 223px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Image_9 {
  position: absolute;
  top: 13px;
  left: 137px;
  width: 223px;
  height: 223px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Image_7 {
  position: absolute;
  top: 192px;
  left: 172px;
  width: 216px;
  height: 216px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Image_8 {
  position: absolute;
  top: 121px;
  left: -10px;
  width: 216px;
  height: 216px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Callout_1 .content {
  left: 0px;
  top: 0px;
  width: 138px;
  height: 86px;
  position: absolute;
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Callout_1 {
  position: absolute;
  top: 106px;
  left: 317px;
  width: 138px;
  height: 115px;
  background-color: #FFFD71;
  background-image: none;
  opacity: 0.87;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #shapewrapper-s-Callout_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #shapewrapper-s-Callout_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Rich_text_1 {
  position: absolute;
  top: 135px;
  left: 340px;
  width: 119px;
  height: 81px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Roboto-Regular,Arial;
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Rich_text_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10pt;
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10pt;
  line-height: 0px;
}
.ui-page {
  overflow: hidden;
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}