#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=33);
  filter: alpha(opacity=33);
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Line_1 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(322.0deg);
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Line_1 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(322.0deg);
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Line_2 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(80.0deg);
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Line_2 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(80.0deg);
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Line_3 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(45.0deg);
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Line_3 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(45.0deg);
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Line_4 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(288.0deg);
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Line_4 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(288.0deg);
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Callout_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(180.0deg);
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow: hidden;
}
#s-0d2f2f76-59db-417f-a08f-8902d247f23c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}