#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 {
  background-color: transparent;
  background-image: none;
  min-width: 599px;
  min-height: 361px;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Dynamic_Panel_11 {
  position: absolute;
  top: 0px;
  left: 387px;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Panel_2 {
  width: 212px;
  height: 361px;
  background-color: #282828;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Label_25 {
  padding-bottom: 5px;
  padding-left: 6px;
  width: 354px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BABABA;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 700;
  line-height: 10pt;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Label_25 .valign {
  vertical-align: bottom;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Label_26 {
  padding-left: 20px;
  width: 340px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Label_26 .valign {
  vertical-align: middle;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Label_31 {
  padding-left: 20px;
  width: 340px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  opacity: 0.96;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Label_31 .valign {
  vertical-align: middle;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Label_30 {
  padding-left: 20px;
  width: 340px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Label_30 .valign {
  vertical-align: middle;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Label_27 {
  padding-left: 20px;
  width: 340px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Label_27 .valign {
  vertical-align: middle;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Label_28 {
  padding-left: 20px;
  width: 340px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Label_28 .valign {
  vertical-align: middle;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Label_29 {
  padding-left: 20px;
  width: 340px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Label_29 .valign {
  vertical-align: middle;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 388px;
  height: 290px;
  background-color: #FFFFCC;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Rectangle_2 {
  position: absolute;
  top: 290px;
  left: 0px;
  width: 388px;
  height: 70px;
  background-color: #339999;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Line_1 {
  position: absolute;
  top: 324px;
  left: 81px;
  width: 290px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Label_1 {
  position: absolute;
  top: 325px;
  left: 81px;
  width: 45px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Label_2 {
  position: absolute;
  top: 325px;
  left: 336px;
  width: 45px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Triangle_1 .content {
  left: 0px;
  top: 0px;
  width: 32px;
  height: 27px;
  position: absolute;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Triangle_1 {
  position: absolute;
  top: 313px;
  left: 35px;
  width: 32px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Triangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Triangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Triangle_1 span#rtr-s-Triangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Ellipse_1 .content {
  left: 0px;
  top: 0px;
  width: 23px;
  height: 12px;
  position: absolute;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Ellipse_1 {
  position: absolute;
  top: 319px;
  left: 126px;
  width: 23px;
  height: 12px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Ellipse_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Ellipse_2 .content {
  left: 0px;
  top: 0px;
  width: 15px;
  height: 34px;
  position: absolute;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Ellipse_2 {
  position: absolute;
  top: 307px;
  left: 146px;
  width: 15px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Ellipse_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Ellipse_3 .content {
  left: 0px;
  top: 0px;
  width: 47px;
  height: 12px;
  position: absolute;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Ellipse_3 {
  position: absolute;
  top: 319px;
  left: 155px;
  width: 47px;
  height: 12px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Ellipse_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Ellipse_4 .content {
  left: 0px;
  top: 0px;
  width: 23px;
  height: 12px;
  position: absolute;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Ellipse_4 {
  position: absolute;
  top: 318px;
  left: 209px;
  width: 23px;
  height: 12px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Ellipse_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Ellipse_5 .content {
  left: 0px;
  top: 0px;
  width: 15px;
  height: 34px;
  position: absolute;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Ellipse_5 {
  position: absolute;
  top: 306px;
  left: 229px;
  width: 15px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Ellipse_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Ellipse_6 .content {
  left: 0px;
  top: 0px;
  width: 47px;
  height: 12px;
  position: absolute;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Ellipse_6 {
  position: absolute;
  top: 318px;
  left: 238px;
  width: 47px;
  height: 12px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Ellipse_6 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Ellipse_7 .content {
  left: 0px;
  top: 0px;
  width: 15px;
  height: 34px;
  position: absolute;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Ellipse_7 {
  position: absolute;
  top: 308px;
  left: 260px;
  width: 15px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Ellipse_7 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 388px;
  height: 291px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Callout_1 .content {
  left: 0px;
  top: 0px;
  width: 138px;
  height: 86px;
  position: absolute;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Callout_1 {
  position: absolute;
  top: 185px;
  left: 250px;
  width: 138px;
  height: 115px;
  background-color: #FFFD71;
  background-image: none;
  opacity: 0.87;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Callout_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Callout_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Rich_text_1 {
  position: absolute;
  top: 214px;
  left: 270px;
  width: 119px;
  height: 81px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Roboto-Regular,Arial;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Rich_text_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10pt;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10pt;
  line-height: 0px;
}
.ui-page {
  overflow: hidden;
}
#s-0daa6a15-c9f5-496b-8d9a-eb362b227492 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}