#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 {
  background-color: transparent;
  background-image: none;
  min-width: 360px;
  min-height: 640px;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 640px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Image_2 {
  position: absolute;
  top: 218px;
  left: 23px;
  width: 314px;
  height: 172px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Rectangle_1 {
  position: absolute;
  top: 194px;
  left: 18px;
  width: 328px;
  height: 25px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Rectangle_2 {
  position: absolute;
  top: 142px;
  left: 65px;
  width: 256px;
  height: 25px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Triangle_1 .content {
  left: 0px;
  top: 0px;
  width: 94px;
  height: 83px;
  position: absolute;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Triangle_1 {
  position: absolute;
  top: 263px;
  left: 146px;
  width: 94px;
  height: 83px;
  background-color: #339999;
  background-image: none;
  opacity: 0.91;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #shapewrapper-s-Triangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #shapewrapper-s-Triangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #shapewrapper-s-Triangle_1 span#rtr-s-Triangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Rectangle_3 {
  position: absolute;
  top: 395px;
  left: 88px;
  width: 243px;
  height: 53px;
  background-color: #FAFAFA;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Triangle_2 .content {
  left: 0px;
  top: 0px;
  width: 40px;
  height: 26px;
  position: absolute;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Triangle_2 {
  position: absolute;
  top: 409px;
  left: 39px;
  width: 40px;
  height: 26px;
  background-color: #339999;
  background-image: none;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #shapewrapper-s-Triangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #shapewrapper-s-Triangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #shapewrapper-s-Triangle_2 span#rtr-s-Triangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Label_1 {
  position: absolute;
  top: 133px;
  left: 65px;
  width: 129px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Image_3 {
  position: absolute;
  top: 146px;
  left: 21px;
  width: 40px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Label_2 {
  position: absolute;
  top: 169px;
  left: 23px;
  width: 271px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Label_3 {
  position: absolute;
  top: 390px;
  left: 95px;
  width: 236px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Label_4 {
  position: absolute;
  top: 410px;
  left: 95px;
  width: 213px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9pt;
  line-height: 9pt;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Label_4 .valign {
  vertical-align: middle;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Callout_1 .content {
  left: 0px;
  top: 0px;
  width: 138px;
  height: 86px;
  position: absolute;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Callout_1 {
  position: absolute;
  top: 149px;
  left: 216px;
  width: 138px;
  height: 115px;
  background-color: #FFFD71;
  background-image: none;
  opacity: 0.87;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #shapewrapper-s-Callout_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #shapewrapper-s-Callout_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Rich_text_1 {
  position: absolute;
  top: 146px;
  left: 225px;
  width: 119px;
  height: 81px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Roboto-Regular,Arial;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Rich_text_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10pt;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10pt;
  line-height: 0px;
}
.ui-page {
  overflow: hidden;
}
#s-4425cc5f-d9ff-4eee-b7c4-1f8b2d13f9f0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}