#s-54587c08-0ff3-4553-8f8b-34d1997b0c6d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-54587c08-0ff3-4553-8f8b-34d1997b0c6d #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-54587c08-0ff3-4553-8f8b-34d1997b0c6d #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-54587c08-0ff3-4553-8f8b-34d1997b0c6d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-54587c08-0ff3-4553-8f8b-34d1997b0c6d #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-54587c08-0ff3-4553-8f8b-34d1997b0c6d #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-54587c08-0ff3-4553-8f8b-34d1997b0c6d #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-54587c08-0ff3-4553-8f8b-34d1997b0c6d #s-Callout_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#s-54587c08-0ff3-4553-8f8b-34d1997b0c6d #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow: hidden;
}
#s-54587c08-0ff3-4553-8f8b-34d1997b0c6d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}