#s-5abce554-166a-4269-900c-1b4a859dfd36 #s-Label_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5abce554-166a-4269-900c-1b4a859dfd36 #s-Label_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5abce554-166a-4269-900c-1b4a859dfd36 #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5abce554-166a-4269-900c-1b4a859dfd36 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5abce554-166a-4269-900c-1b4a859dfd36 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5abce554-166a-4269-900c-1b4a859dfd36 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5abce554-166a-4269-900c-1b4a859dfd36 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5abce554-166a-4269-900c-1b4a859dfd36 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5abce554-166a-4269-900c-1b4a859dfd36 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5abce554-166a-4269-900c-1b4a859dfd36 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5abce554-166a-4269-900c-1b4a859dfd36 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5abce554-166a-4269-900c-1b4a859dfd36 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5abce554-166a-4269-900c-1b4a859dfd36 #s-Triangle_1 {
  rotation: 90.0;
  margin-left: 2px;
  margin-top: -3px;
}
#s-5abce554-166a-4269-900c-1b4a859dfd36 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5abce554-166a-4269-900c-1b4a859dfd36 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5abce554-166a-4269-900c-1b4a859dfd36 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5abce554-166a-4269-900c-1b4a859dfd36 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5abce554-166a-4269-900c-1b4a859dfd36 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5abce554-166a-4269-900c-1b4a859dfd36 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5abce554-166a-4269-900c-1b4a859dfd36 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5abce554-166a-4269-900c-1b4a859dfd36 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5abce554-166a-4269-900c-1b4a859dfd36 #s-Callout_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5abce554-166a-4269-900c-1b4a859dfd36 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow: hidden;
}
#s-5abce554-166a-4269-900c-1b4a859dfd36 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}