#s-5d692697-0523-465a-8d7b-be942eec2240 #s-Callout_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#s-5d692697-0523-465a-8d7b-be942eec2240 #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow: hidden;
}
#s-5d692697-0523-465a-8d7b-be942eec2240 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}