#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Label_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Label_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Triangle_1 {
  rotation: 90.0;
  margin-left: 2px;
  margin-top: -3px;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow: hidden;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}