#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Label_25 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BABABA;
  -ms-transform: rotate(0.0deg);
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Label_26 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Label_28 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Label_29 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Label_31 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Label_33 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #444444;
  -ms-transform: rotate(0.0deg);
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Label_27 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Label_32 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Triangle_1 {
  -ms-transform: rotate(90.0deg);
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow: hidden;
}
#s-66c3aea6-ef18-44d1-9cd8-abc002fc99fa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}