#s-b1af34df-0796-419f-9a37-6eae5924d7a0 #s-Callout_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#s-b1af34df-0796-419f-9a37-6eae5924d7a0 #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow: hidden;
}
#s-b1af34df-0796-419f-9a37-6eae5924d7a0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}