#s-be59456a-5909-461e-9cf2-fbc068580916 {
  background-color: transparent;
  background-image: none;
  min-width: 434px;
  min-height: 919px;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 596px;
  background-color: #339999;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Image_1 {
  position: absolute;
  top: 62px;
  left: -14px;
  width: 388px;
  height: 291px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rectangle_2 {
  position: absolute;
  top: 219px;
  left: 0px;
  width: 360px;
  height: 134px;
  background-color: #339999;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Image_8 {
  position: absolute;
  top: 219px;
  left: 12px;
  width: 62px;
  height: 61px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Label_1 {
  position: absolute;
  top: -58px;
  left: 33px;
  width: 241px;
  height: 166px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Corbel,Arial;
  font-size: 48pt;
  font-style: normal;
  font-weight: 700;
  line-height: 48pt;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Image_2 {
  position: absolute;
  top: 267px;
  left: 0px;
  width: 361px;
  height: 220px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rectangle_3 {
  position: absolute;
  top: 452px;
  left: 0px;
  width: 360px;
  height: 63px;
  background-color: #339999;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Image_3 {
  position: absolute;
  top: 523px;
  left: 1px;
  width: 359px;
  height: 270px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Image_7 {
  position: absolute;
  top: 451px;
  left: 0px;
  width: 67px;
  height: 67px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Label_5 {
  position: absolute;
  top: 450px;
  left: 56px;
  width: 368px;
  height: 88px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 10pt;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Label_5 .valign {
  vertical-align: middle;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Label_3 {
  position: absolute;
  top: 451px;
  left: 56px;
  width: 247px;
  height: 45px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rectangle_5 {
  position: absolute;
  top: 266px;
  left: 0px;
  width: 360px;
  height: 34px;
  background-color: #339999;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Label_2 {
  position: absolute;
  top: 227px;
  left: 66px;
  width: 247px;
  height: 45px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Label_4 {
  position: absolute;
  top: 227px;
  left: 66px;
  width: 368px;
  height: 88px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 10pt;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Label_4 .valign {
  vertical-align: middle;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Image_4 {
  position: absolute;
  top: 644px;
  left: -28px;
  width: 410px;
  height: 275px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rectangle_4 {
  position: absolute;
  top: 644px;
  left: -1px;
  width: 360px;
  height: 66px;
  background-color: #339999;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rectangle_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Label_6 {
  position: absolute;
  top: 639px;
  left: 56px;
  width: 211px;
  height: 88px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 10pt;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Label_6 .valign {
  vertical-align: middle;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Label_7 {
  position: absolute;
  top: 639px;
  left: 56px;
  width: 247px;
  height: 45px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Label_7 .valign {
  vertical-align: middle;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Image_10 {
  position: absolute;
  top: 639px;
  left: -1px;
  width: 68px;
  height: 71px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Image_5 {
  position: absolute;
  top: 227px;
  left: 319px;
  width: 32px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Label_8 {
  position: absolute;
  top: 225px;
  left: 330px;
  width: 21px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #339999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14pt;
  line-height: 14pt;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Label_8 .valign {
  vertical-align: middle;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Image_6 {
  position: absolute;
  top: 461px;
  left: 319px;
  width: 32px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Label_9 {
  position: absolute;
  top: 459px;
  left: 330px;
  width: 21px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #339999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14pt;
  line-height: 14pt;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Label_9 .valign {
  vertical-align: middle;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Image_9 {
  position: absolute;
  top: 656px;
  left: 319px;
  width: 32px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Label_10 {
  position: absolute;
  top: 654px;
  left: 330px;
  width: 21px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #339999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14pt;
  line-height: 14pt;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Label_10 .valign {
  vertical-align: middle;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Callout_1 .content {
  left: 0px;
  top: 0px;
  width: 138px;
  height: 86px;
  position: absolute;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Callout_1 {
  position: absolute;
  top: 30px;
  left: 73px;
  width: 138px;
  height: 115px;
  background-color: #FFFD71;
  background-image: none;
  opacity: 0.87;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #shapewrapper-s-Callout_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #shapewrapper-s-Callout_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rich_text_1 {
  position: absolute;
  top: 27px;
  left: 82px;
  width: 119px;
  height: 81px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Roboto-Regular,Arial;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rich_text_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10pt;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10pt;
  line-height: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-be59456a-5909-461e-9cf2-fbc068580916 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}