#s-d12245cc-1680-458d-89dd-4f0d7fb22724 {
  background-color: transparent;
  background-image: none;
  min-width: 636px;
  min-height: 596px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  position: absolute;
  top: -1px;
  left: -318px;
  width: 954px;
  height: 597px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_1 {
  position: absolute;
  top: 33px;
  left: 38px;
  width: 241px;
  height: 166px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #339999;
  text-align: left;
  text-decoration: none;
  font-family: Corbel,Arial;
  font-size: 72pt;
  font-style: normal;
  font-weight: 700;
  line-height: 72pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Callout_1 .content {
  left: 0px;
  top: 0px;
  width: 138px;
  height: 86px;
  position: absolute;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Callout_1 {
  position: absolute;
  top: 214px;
  left: 206px;
  width: 138px;
  height: 115px;
  background-color: #FFFD71;
  background-image: none;
  opacity: 0.87;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-Callout_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-Callout_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_1 {
  position: absolute;
  top: 211px;
  left: 215px;
  width: 119px;
  height: 81px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10pt;
  line-height: 0px;
}
.ui-page {
  overflow: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}