#t-0dc9dbaa-deab-4781-8fa3-ef2fc6b470a4 #t-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#t-0dc9dbaa-deab-4781-8fa3-ef2fc6b470a4 #t-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#t-0dc9dbaa-deab-4781-8fa3-ef2fc6b470a4 #t-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#t-0dc9dbaa-deab-4781-8fa3-ef2fc6b470a4 #t-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#t-0dc9dbaa-deab-4781-8fa3-ef2fc6b470a4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}