#t-0dc9dbaa-deab-4781-8fa3-ef2fc6b470a4 #t-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-0dc9dbaa-deab-4781-8fa3-ef2fc6b470a4 #t-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-0dc9dbaa-deab-4781-8fa3-ef2fc6b470a4 #t-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-0dc9dbaa-deab-4781-8fa3-ef2fc6b470a4 #t-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-0dc9dbaa-deab-4781-8fa3-ef2fc6b470a4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}