<html>
  <body>
    <div class="ui-page">
         <div id="t-c8a5fb47-923a-45e1-ab2c-e461cf777485" class="template growth-both firer commentable" name="Landscape Template 2">
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/c8a5fb47-923a-45e1-ab2c-e461cf777485-1405958779171.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/c8a5fb47-923a-45e1-ab2c-e461cf777485-1405958779171-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/c8a5fb47-923a-45e1-ab2c-e461cf777485-1405958779171-ie8.css" /><![endif]-->
           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>